<footer class="site-footer">
  <div class="footer-logo-section">
    {% include logo-image.svg %}
  </div>
  <ul class="social-links">
    <li><span>LinkedIn</span><a href="https://linkedin.com" target="_blank">{% include icon-linkedin.svg %}</a></li>
    <li><span>Twitter</span><a href="https://twitter.com" target="_blank">{% include icon-twitter.svg %}</a></li>
    <li><span>Facebook</span><a href="https://facebook.com" target="_blank">{% include icon-facebook.svg %}</a></li>
    <li><span>Google+</span><a href="https://plus.google.com" target="_blank">{% include icon-google-plus.svg %}</a></li>
  </ul>
  <ul class="footer-links">
    <li class="copyright">&copy; 2017 RAKE Digital. All rights reserved.</li>
    <li class="footer-link">Terms</li>
    <li class="footer-link">Privacy</li>
    <li class="footer-link">Site Map</li>
    <li class="footer-link">Contact Us</li>
  </ul>
{% include footer-scripts.html %}
</footer>
