<form action="//flipmail.co/api/6JOGO0ZOpsHZu4Ygu5TX" method="post">
<ul class="rake-form-items">
  <li class="rake-form-item">
    <label for="formProjectNameInput">Name</label>
    <input id="formProjectNameInput" name="name" type="text"></input>
  </li>
  <li class="rake-form-item">
    <label for="formProjectCompanyInput">Company</label>
    <input id="formProjectCompanyInput" name="company" type="text"></input>
  </li>
  <li class="rake-form-item">
    <label for="formProjectEmailInput">E-mail</label>
    <input id="formProjectEmailInput" name="email" type="text"></input>
  </li>
  <li class="rake-form-item">
    <label for="formProjectWebsiteInput">Website</label>
    <input id="formProjectWebsiteInput" name="website" type="text"></input>
  </li>
  <li class="rake-form-item">
    <label for="formProjectTypeInput">Project Type</label>
    <select id="formProjectTypeInput" name="project">
      <option value="Cloud Engineering">Cloud Architecture / Engineering</option>
      <option value="Cloud Platform Development">Cloud Platform Development</option>
      <option value="Front End Development">Front End Development</option>
      <option value="Website Design and Development">Website Design / Development</option>
      <option value="Social Media Strategy and Management">Social Media Strategy / Program Management</option>
      <option value="Other Digital Project">Other Digital Project</option>
    </select>
  </li>
  <li class="rake-form-item">
    <label for="formProjectBudgetInput">Budget</label>
    <select id="formProjectBudgetInput" name="budget">
      <option value="Less than $5,000">Less than $5,000</option>
      <option value="$5,000 to $10,000">$5,000 to $10,000</option>
      <option value="$10,000 to $20,000">$10,000 to $20,000</option>
      <option value="More than $20,000">More than $20,000</option>
      <option value="I do not know.">I don't know.</option>
    </select>
  </li>
  <li class="rake-form-item-full">
    <label for="formProjectAboutInput">About your Project</label>
    <textarea id="formProjectAboutInput" name="message"></textarea>
  </li>
  <li class="rake-form-item">
    <input type="text" name="_honey" value="" style="display:none">
    <input type="hidden" name="_after" value="http://localhost:4000">
    <input class="button" type="submit" value="Submit">
  </li>
  <li class="rake-form-item">
    <h3 class="leader-large">540.779.8881</h3>
    <h3 class="leader-large">hello@rakedigital.com</h3>
  </li>
</ul>
</form>
