/* Scroll Overlay style */
.scroll-overlay {
	z-index: 9989;
	position: fixed;
	padding: 1rem;
	width: 6.1rem;
	height: 9.0rem;
	border-radius: 3rem;
  bottom: 4.1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
	fill: none;
	cursor: pointer;
	&.light {
		background-color: rgba(0,0,0,0.5);
		fill: #FFFFFF;
		transition: fill 1s 0s;
		transition: background-color 1s 0s;
	};
	&.dark {
		background-color: rgba(255,255,255,0.5);
		fill: #000000;
		transition: fill 1s 0s;
		transition: background-color 1s 0s;
	}
}
